html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    background-color: rgb(165, 209, 129);
}

img {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    padding: 1rem 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0.5rem;
    box-sizing: border-box;
}

.container__section {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container__item {
    margin: 1rem 0;
}

input {
    appearance: none;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
    box-sizing: border-box;
    cursor: pointer;
}
.border {
    border: 1px solid #FF0000;
}

label:hover {
    background-color: #FF0000;
    transition: 1s;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

label:hover .title:after {
    content: '\1F7A9';
    transform: rotate(45deg);
    transition: 0.5s;
}

input:checked + .title:after {
    transform: rotate(90deg);
}

.mem-description {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s linear;
    text-align: center;
    cursor: pointer; 
}

input:checked ~ .mem-description {
    visibility: visible;
    height: auto;
    overflow: none;
    opacity: 1;
    transition: all 0.5s linear;
}
