html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    background-color: rgb(165, 209, 129);
}

img {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

input {
    display: none;
}
